.container {

  height: 50vh; /* vh te completa toda la pantalla  */
	width: 250px;  /* cuando uno ve que esta adentro del container, ponerle casi siempre el 100% */
	/* margin: 0px auto; */ /* LO PUSE PARA CENTRAR EL INFO CONTAINER, VER DE SACARLO O NO */
	display: flex; /* me centra el contenido del div */
	flex-direction: column;
	align-items: center;
	justify-content: center; /* me centra el contenido del div */
	gap: 30px; 
	

	color: #fff;
	background-color: rgba(128, 128, 128, 0.3);
	border: solid 1px rgba(255, 255, 255, 0.3);
	border-radius: 10px;	
	backdrop-filter: blur(5px); 
  }

  .container img {
 position: relative;
    bottom: 1.8rem;
    width: 80px;
    height: 70px;

/*     width: 70%;
padding: 20px 0px; */
  }

  .container:hover {
    background-position: right center;
    transform: scale(1.05);
    box-shadow: 10px 10px 20px #ffffff, -10px -10px 20px #ffffff;
  }

.container2 {
    bottom: 1rem;
    position: relative;
    align-items: center;
    font-family: "Chakra Petch", sans-serif;
    margin: center;
}  

.container3 {
  width: 100%;
}  

/* .name {
   
  } */

  .tipo {
    padding-top: 1rem;
    color: #000000;
    font-style: bold;
  }

  .btnHome {
    top: 5px;
    left: 95px;
    padding: 1rem;
    cursor: pointer;
    position:relative;
    border-radius: 10px;
    background-color: rgb(241, 175, 175);

}