.container {
    height: 100%;
    /* width: 100vw; */
    min-height: 100vh;
    background-image: url(../Images/creacion.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.titleSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.createTitle{
    height: 50%;
    width: 50%;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: center;
    margin-top: 10px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(255, 15, 15);
}

.btnHome button {
    top: 10px; 
    left: 50px;
    width:max-content;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(250, 224, 77);

}

.form{
    border: solid 1px rgb(0, 0, 0);
    border-radius: 10px;
    
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range{
    max-height: 50px;
    width: 45%;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: space-evenly;
    margin-top: 3px;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10px;
    background: rgb(255, 15, 15);
}

.label{
    text-align: left
}

.type {
    border-radius: 20px;
    border: solid 2px rgba(0, 0, 0, 0.685);

}

.btn { 
    padding: 1rem;    
    color: rgb(223, 23, 23);
    border: solid 3px rgb(0, 0, 0);
    border-radius: 100px;
    background: rgb(255, 251, 31);
    font-size: 18px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    letter-spacing: 2.1px;
    line-height: 18px;

}


.btn:hover {  /* efecto para cuando pasemos por encima del boton */
background-color: #f00000;
border: solid 4px #070424;
color: rgb(254, 255, 246);
box-shadow: 3px 3px 25px 11px rgb(8, 8, 221); /* para darle sombra */
}



/* RESPONSIVE */

/* @media screen and (max-width: 660px) {
  
    .createTitle {
      font-size: 1.2rem;
    }
  } */

  /* @media screen and (max-width: 660px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .titleSubmit {
      width: 100%;
      text-align: center;
    }
  
    .createTitle {
      font-size: 1.2rem;
    }
  }
  

  
  @media only screen and (max-width: 660px) {
    .btnForm button {
        top: auto;
        left: auto;
        width: 100%;
        margin-top: 10px;
        position: static;
        border-radius: 10px;
        background-color: rgb(250, 224, 77);
      }
  }   */

  @media screen and (max-width: 660px) {
    .createTitle {
      width: 80%;
      margin-top: 70px;
      text-align: center;
      font-size: 1.2rem;
    }
  
    .btnHome button {
      top: auto;
      left: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      /* width: 30%; */
    }
  }
  

  