.container {
	/* height: 100vh; */ 
    /* width: 100%; */
    background-image: url(../Images/HomeAvesBlanco.jpg);
    /* background-size: cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 40px; */
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.menuContainer {
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 5px rgba(253, 158, 158, 0.5);
	backdrop-filter: blur(10px);
    border-radius: 10px;
    border: solid 5px rgba(0, 0, 0, 0.3);
}

.paginatedList {
	display: flex;
	place-items: center;
    border-radius: 5px;
    border: solid 2px rgba(0, 0, 0, 0.3);
}

.pokeListContainer {
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

.pokeList {
	display: grid;
	/* grid-template-columns: repeat(auto-fill, minmax(200px, 6fr)); */
	place-items: center;
	gap: 20px;
}

.btnForm button {
    top: 20px; /* contando desde el margen de ariiba 50 pixeles desde el borde superior de la pantalla */
    right: 50px;
    width:max-content;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    background-color: rgb(250, 224, 77);

}